.stApp {
    background-image: url('https://i.postimg.cc/L8Y5D0Tb/Blue-Gold-Luxury-Elegant-Background-Instagram-Story-20240923-014003-0000.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .glass {
        background: rgba(255, 255, 255, 0.1); /* Translucent background */
        backdrop-filter: blur(10px); /* Blurring effect */
        border-radius: 10px; /* Rounded corners */
        padding: 10px;
        color: black; /* Text color */
        font-weight: bold; /* Bold text */
    }
   

    
    
}
