.stApp {
    background-image: url('https://i.postimg.cc/9FY4zK10/Fatehput-Sikiri-Buland-Darwaza-gate-2010.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
